.carousel__title {
    color: var(--carousel-title-color);
    font-weight: 700;
    font-size: 1.8rem;
    text-align: center;
    text-transform: uppercase;
    background-color: var(--carousel-bg-color);
    padding: 1.6rem 0 0.8rem 0;
} 
.swiper-pagination {
    margin: -0.5rem 0;
}
.swiper-slide img {
    width: 100%;
}
.swiper-button-prev:after,.swiper-button-next:after {
    display: none;
}