.header {
    background-color: var(--menu-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-left: 2rem;
}
.header__menu {
    width: 2.4rem;
    height: 2.4rem;
    background-image: url(../img/icons/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    padding-left: 4.5rem;
}
.list__menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}
.list__menu-title {
    color: var(--menu-title-color);
    font-weight: 700;
}
.list__menu-title, .list__menu-item {
    padding: 1rem;
    background-color: var(--menu-bg-color);
}
.list__menu-link {
    background: var(--menu-text-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}
.options {
    display: none;
}
@media screen and (min-width: 1024px) {
    .header {
        padding: 0 8rem;
    }
    .header__menu, .options__button {
        display: none;
    }
    .options {
        display: flex;
    }
    .options__item {
        font-size: 2rem;
        text-transform: uppercase;
        padding: 3rem 1.6rem;
    }
    .options__button:checked ~ .list__menu {
        width: auto;
        display: block;
    }
    .options__button:checked ~ .options__label > .options__item {
        color: var(--menu-options-color);
        background: var(--menu-options-bg-color);
    }
    .list__menu-item {
        width: 15rem;
    }
    .list__menu-item:hover {
        background: var(--menu-options-bg-color);
    }
    .list__menu-item:hover > .list__menu-link {
        -webkit-text-fill-color: var(--menu-options-color);
    }
    .list__menu-link {
        font-size: 1.4rem;
    }
}
@media screen and (min-width: 1728px) {
    .header {
        padding: 0 25rem;
    }
    .options {
        margin-right: auto;
    }
}