.header {
    background-color: var(--menu-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.container__button {
    display: none;
}
.container__button:checked ~ .list__menu {
    display: block;
}
.header__menu {
    width: 2.4rem;
    height: 2.4rem;
    background-image: url(../img/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    padding-left: 4.5rem;
}
.list__menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}
.lista__menu-title {
    color: var(--menu-title-color);
    font-weight: 700;
}
.lista__menu-title, .list__menu-item {
    padding: 1rem;
    background-color: var(--menu-bg-color);
}
.list__menu-link {
    background: var(--menu-text-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}
