.topics {
    background: var(--topics-bg-color);
    text-align: center;
    padding: 1.6rem 0;
}
.topics__title {
    color: var(--topics-text-color);
    font-size: 1.6rem;
    font-weight: 300;
    padding-bottom: 1rem;
}
.topics__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.topics__item {
    margin: 2.2rem 0.9rem;
}
.topics__link {
    color: var(--topics-text-color);
    font-size: 1.6rem;
    font-weight: 700;
    padding: 1rem;
    background-color: var(--topics-bg-link-color);
}
@media screen and (min-width: 1024px) {
    .topics__title {
        font-size: 2.4rem;
    }
    .topics__list {
        padding: 0 10rem;
    }
    .topics__link {
        font-size: 2.2rem;
        font-weight: 600;
        padding: 1.4rem;
    }
}