@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --main-bg-color: #EBECEE;

    --menu-bg-color: #FFFFFF;
    --menu-title-color: #EB9B00;
    --menu-text-color: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);

    --banner-bg-color: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --banner-text-color: #FFFFF1;
    --banner-border-color: #FFFFFF;

    --carousel-title-color: #EB9B00;
    --carousel-bg-color: #FFFFFF;

    --card-bg-color: #FFFFFF; 
    --card-title-color: #EB9B00;
    --card-title-book-color: #002F52;

    --card-buttons-link: #EB9B00;
    --card-buttons-text-color: #FFFFFF;

    --font-family: 'Poppins', sans-serif;
}