@import '../abstract/variables';

.header {
  justify-content: space-between;
  position: relative;
  @include flex;
  @include desktop {
    padding: 1.75rem 0;
  }
  .container__logo-desktop {
    color: $text-color;
    display: none;
    font-size: 1.125rem;
    @include desktop {
      align-items: center;
      display: inline-flex;
    }
    .desktop__logo-text {
      @include desktop {
        font-weight: 500;
        padding-left: 0.5rem;
      }
    }
  }
  .container__hamburguer {
    @include flex;
    .menu__hamburguer {
      display: none;
    }
    .menu__hamburguer:checked ~ .header__list {
      display: block;
    }
    .menu_icon {
      height: 24px;
      width: 24px;
      @include desktop {
        display: none;
      }
    }
    .icon {
      padding: 0.8rem 0;
    }
    .header__list {
      background-color: white;
      display: none;
      position: absolute;
      top: 100%;
      z-index: 999;
      width: 90VW;
      @include desktop {
        @include inline-relative;
      }
      .header__item {
        padding: 0.8rem 0;
        }
        @include desktop {
          padding: 0 1rem;
        }
        .header__link {
          color: $text-color;
          font-size: 0.8rem;
          @include list-style;
          &:hover {
            border-bottom: 2px solid $logo-text-color;
            color: $subtitle-color;
          }
          @include desktop {
            @include subtitle-desktop;
          }
        }
      }
    }
  }
  .container__logo {
    @include flex;
    @include desktop {
      display: none;
    }
    .icon {
      padding-right: 0.5rem;
    }
  }
  .container__login {
    @include flex;
    position: relative;
    .menu__login {
      display: none;
    }
    .menu__login:checked ~ .login__list {
      display: block;
    }
    .user_icon {
      height: 24px;
      width: 24px;
      @include desktop {
        display: none;
      }
    }
    .icon {
      padding: 0.8rem 0;
    }
    .login__list {
      display: none;
      position: absolute;
      right: 10%;
      top: 100%;
      @include desktop {
        @include inline-relative;
      }
      .login__item {
        padding: 0.5rem 0;
        text-align: end;
        .login__link {
          color: $text-color;
          font-size: 0.8rem;
          @include list-style;
          &:hover {
            border-bottom: 2px solid $logo-text-color;
          }
          @include desktop {
            @include subtitle-desktop;
          }
        }
        .login__desktop {
          @include desktop {
            background-color: $subtitle-color;
            border-radius: 8px;
            color: $button-text-color;
            font-weight: 500;
            padding: 0.625rem 1.125rem;
            margin-left: 1rem;
          }
        }
      }
    }
  }
}