@import '../abstract/variables';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  @include desktop {
    padding: 1.75rem 0;
  }
  .container__logo-desktop {
    display: none;
    color: $text-color;
    font-size: 1.125rem;
    @include desktop {
      display: inline-flex;
      align-items: center;
    }
    .desktop__logo-text {
      @include desktop {
        padding-left: 0.5rem;
        font-weight: 500;
      }
    }
  }
  .container__hamburguer {
    display: flex;
    align-items: center;
    .menu__hamburguer {
      display: none;
    }
    .menu__hamburguer:checked ~ .header__list {
      display: block;
    }
    .menu_icon {
      width: 24px;
      height: 24px;
      @include desktop {
        display: none;
      }
    }
    .icon {
      padding: 0.8rem 0;
    }
    .header__list {
      display: none;
      position: absolute;
      top: 100%;
      @include desktop {
        display: inline-flex;
        position: relative;
      }
      .header__item {
        // padding: 0.5rem 0;
        .header__link {
          text-decoration: none;
          text-transform: uppercase;
          color: $text-color;
          font-size: 0.8rem;
          @include desktop {
            font-size: 1rem;
            font-weight: 500;
          }
        }
      }
    }
  }
  .container__logo {
    display: flex;
    align-items: center;
    @include desktop {
      display: none;
    }
    .icon {
      padding-right: 0.5rem;
    }
  }
  .container__login {
    display: flex;
    align-items: center;
    position: relative;
    .menu__login {
      display: none;
    }
    .menu__login:checked ~ .login__list {
      display: block;
    }
    .user_icon {
      width: 24px;
      height: 24px;
      @include desktop {
        display: none;
      }
    }
    .icon {
      padding: 0.8rem 0;
    }
    .login__list {
      display: none;
      position: absolute;
      top: 100%;
      right: 10%;
      @include desktop {
        display: inline-flex;
        position: relative;
      }
      .login__item {
        // padding: 0.5rem 0;
        text-align: end;
        .login__link {
          text-decoration: none;
          text-transform: uppercase;
          color: $text-color;
          font-size: 0.8rem;
          @include desktop {
            font-size: 1rem;
            font-weight: 500;
          }
        }
        .login__desktop {
          @include desktop {
            color: $button-text-color;
            font-weight: 500;
            background-color: $subtitle-color;
            border-radius: 8px;
            padding: 0.625rem 1.125rem;
          }
        }
      }
    }
  }
}