@import '../abstract/variables';

.metrics {
  margin-top: 2rem;
  margin: 3rem auto;
  text-align: start;
  @include flex-column;
  width: 80%;
  @include desktop {
    flex-direction: row;
    height: 18rem;
    justify-content: space-between;
  }
  .metrics__item {
    margin-bottom: 2rem;
    @include desktop {
      margin-right: 2rem;
      width: 17rem;
    }
    .metrics__subtitle {
      font-size: 2rem;
      margin-bottom: 0.75rem;
      @include subtitle-mobile;
      @include desktop {
        font-size: 3.75rem;
      }
    }
    .metrics__title {
      color: $title-color;
      font-size: 1rem;
      font-weight: 500;
      margin-bottom: 0.5rem;
      @include desktop {
        font-size: 1.125rem;
      }
    }
    .metrics__text {
      line-height: 1.5rem;
      @include text-mobile;
      @include desktop {
        font-size: 1rem;
      }
    }
  }
}