/* .metrics > .container {
  height: 18rem;
  display: flex;
  text-align: justify;
  justify-content: space-between;
  flex-wrap: wrap;
}
.metrics__item {
  width: 17rem;
  margin-right: 2rem;
}
.metrics__subtitle {
  font-size: 3.75rem;
  color: var(--subtitle-color);
  font-weight: 600;
  margin-bottom: 0.75rem;
}
.metrics__title {
  font-size: 1.125rem;
  color: var(--title-color);
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.metrics__text {
  color: var(--text-color);
  line-height: 1.5rem;
} */