.header .container, .header__logo, .header__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.menu__hamburguer {
    display: none;
}
.header__logo-text {
    color: var(--header-logo-text-color);
    font-size: 1.125rem;
    font-weight: 500;
    margin-left: 6px;
}
.header__menu {
    width: 22.62rem;
    display: flex;
    justify-content: space-between;
}
.header__link {
    color: var(--header-links-color);
    font-weight: 500;
}

.header__login a {
    color: var(--header-links-color);
    font-weight: 500;
    margin-right: 1.875rem;
}
.header__register {
    color: var(--header-button-text-color);
    font-weight: 500;
    background-color: var(--header-button-bg-color);
    border-radius: 8px;
    padding: 0.625rem 1.125rem;
}
