/* .jobs {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  padding-bottom: 6rem;
}
.jobs__subtitle {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--subtitle-color);
  margin-top: 6.25rem;
}
.jobs__title {
  font-size: 2.25rem;
  color: var(--title-color);
  margin-top: 1.25rem;
}
.jobs__text {
  font-size: 1.25rem;
  color: var(--text-color);
  margin-top: 1.25rem;
}
.jobs__image {
  width: 100%;
  margin-top: 4rem;
}
.jobs__description {
  display: flex;
  flex-direction: column;
  padding: 0 14rem;
}
.jobs__description-title {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--title-color);
  align-self: flex-start;
  margin-top: 4rem;
}
.jobs__description-item {
  width: 48rem;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
}
.jobs__description-subtitle {
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--title-color);
  align-self: flex-start;
  margin-top: 3.5rem;
  padding-left: 1.5rem;
}
.jobs__description-info {
  display: flex;
  justify-content: center;
  align-self: flex-start;
  margin-top: 2rem;
}
.jobs__description-text {
  font-size: 1rem;
  color: var(--text-color);
  padding-left: 1.5rem;
}
@media (max-width: 768px) {
  .jobs__image {
    width: 100%;
  }
} */