@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
:root {
    --logo-text-color: #3A404E;
    --button-text-color: #FFFFFF;
    --subtitle-color: #8E2424;
    --title-color: #101828;
    --text-color: #667085;
    --testimonials-bg-color: #FDF8F8;

    --font-family: 'Inter', sans-serif;
}

