@import '../abstract/variables';

.contact {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 1.25rem auto;
    @include mobile {
        width: 90%;
        flex-direction: column;
    }
    .contact__figure {
        width: 50%;
        @include mobile {
            width: 90%;
        }
        .contact__img {
            width: 100%;
        }
    }
    .contact__info {
        width: 40%;
        text-align: center;
        @include mobile {
            width: 90%;
        }
        .contact__title {
            font-size: 1.25rem;
            @include mobile {
                margin-top: 1rem;
            }
        }
        .contact__text {
            padding: 0.7rem;
            margin: 0 1rem;
            @include mobile {
                font-size: 0.875rem;
            }
        }
    }
}