$primary-color: #EAEAEB;
$secondary-color: #3B3A3A;
$tertiary-color: #5a3e64;
$quaternary-color: #a2c9ab;

$hover-color: #A050BE;

$img-width: 35%;
$half-width: 50%;
$full-width: 100%;

$while-variable: 1;